<form action="/create" method="POST">
  <h2>Create post</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label>Post title</label>
  </div>


    <div class="input-field">
    <textarea name="descr"></textarea>
    <label>Description</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>
