<h1>Home page</h1>
{{#if posts.length}}
    {{#each posts}}
        <h2><a href="/{{_id}}">{{title}}</a></h2>
        <p>{{substr "150" imgurl}}</p>
    {{/each}}
{{else}}
<p>No posts!</p>
{{/if}}
