<ul>
{{#each post_related}}
<li><a href="/test/{{id}}">{{ title }}</a></li>
{{/each}}
</ul>


{{!-- ПРОБЛЕМА В ВЫВОДЕ --}}

<h1>{{post.title}}</h1>
<p>{{post.descr}}</p>

{{!-- КОНЕЦ ПРОБЛЕМА В ВЫВОДЕ --}}
